@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.starter_container {
    margin-top: 3vh;
}

.starters {
    background-color: seashell;
}

.background_image_admin {
    position: relative;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    z-index: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
        url(../images/home_jumbotron2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_svg {
    position: absolute;
    width: 100vw;
    bottom: -1px;
    left: 0;
}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome_admin {
    font-family: "Allura", cursive;
    font-size: 40px;
    color: #d0c194;
    margin-bottom: -10px;
}

.order_header {
    color: white;
    font-weight: 300 !important;
    font-size: 49px;
    /*font-family: "Roboto", sans-serif;*/
    font-family: "Playfair Display", serif;
}

.image_card {
    object-fit: cover;
    position: relative;
    transition: all 0.5s linear;
}
._box {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    /* border: 1px solid #232526; */

    align-items: center;
}
._box:hover {
    box-shadow: 0rem 0rem 9rem rgba(0, 0, 0, 0.48);
}
._typo {
    margin-left: 20vh;
}
._cart {
    margin-top: 10vh;
}
._cart:hover {
    transform: scale(1.1);
}

.main_row {
    font-family: "Noto Sans TC", sans-serif;
    color: #162d3d !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    transition: all 0.5s linear;
    border: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    /*max-height: 45vh;*/
}

.card_body {
    position: relative;
    z-index: 459 !important;
}

.hov_styles {
    position: relative;
    overflow: hidden;
}

.hov_styles::before {
    position: absolute;
    content: "read this";
    color: transparent;
    top: 0;
    left: 0;
    z-index: 56;
    opacity: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgba(251, 251, 251, 0.15);
    width: 100%;
    height: 100%;
    transition: all 0.25s linear;
}

.hov_styles:hover::before {
    opacity: 1;
}

.card:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.card_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_group {
    display: flex;
    justify-content: space-between;
}

.btn_group2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.model_dialog {
    display: flex;
    justify-content: center;
}

.login_prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans TC", sans-serif;
    color: #162d3d !important;
}

.header_login {
    font-weight: 500 !important;
    color: #162d3d !important;
    font-size: 56px;
    margin-bottom: 30px;
}

.input_container {
    margin-bottom: 30px;
    margin-top: 20px;
}

.input_field {
    transition: border-color 0.5s linear;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    border-radius: 0;
}

.input_field:hover {
    border-color: #162d3d !important;
}

@media (max-width: 990px) {
    .starter_container {
        max-width: unset;
        width: 100%;
        margin: 0;
        margin-top: 2rem;
    }
}

@media (max-width: 822px) {
    .card_text {
        font-size: 14px;
    }
}

@media (max-width: 760px) {
    .accordion {
        column-count: 2 !important;
    }
}

@media (max-width: 450px) {
    .accordion {
        column-count: 1 !important;
    }
}
