.footer {
    color: yellow;
    background-color: black;
    margin-top: 2.5rem;
    font-size: 15px;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    min-height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1.9rem;
}

.hd {
    font-family: "Cinzel", serif;
}

.bd {
    font-family: "Ubuntu", sans-serif;
    color: red;
}

.lb {
    color: red;
}

li a:link {
    color: green;
    text-decoration: none;
}

li a:hover {
    color: green;
}

ul {
    list-style-type: none;
}