*{
    margin:0;
}
.navbarx{
    margin-bottom: 10px;


}
.react-player{

  top: 0;
  left: 50px;
}
.comment{
   
height:300px;width:450px;
border: 6px dotted rgb(53, 32, 32);

}
.com-con{
    position: relative;
}
.quote2 {
    position : absolute;
    bottom:0;
    right:0;
}

._statement{
    left: 50%;
    display: flex;

    width: 90%;
    height: 500px;
    
    align-items: center;
    justify-content: center;
    background-image: url('../images/new.jpg')  
}
.quote{
   transform: rotateZ(180deg);       
}
._circleI1{
    margin-left: 300px;
    margin-bottom: 10px;
    border-radius: 50%;
}
._circleI2{
    right:0;
    bottom: 0;
 margin-top: 100px;
 
    
}