.Starters {
    filter: none;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    height: min(319px, 71vw);
}

.Main_course {
    filter: none;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    height: min(319px, 71vw);
}
.Desserts {
    filter: none;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    height: min(319px, 71vw);
}
.bevrages {
    filter: none;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    height: min(319px, 71vw);
}
.content {
    margin-top: 2rem;
}

.row {
    border-radius: 1rem;
    margin: 30px;
}

.row:hover {
    box-shadow: 0rem 0rem 9rem rgba(0, 0, 0, 0.48);
}

.Dessert {
    margin-bottom: 1.5rem;
    height: min(319px, 71vw);
}

.img_container {
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
}
