
.Starters {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    width: 600px;
    border: 1px solid #232526;
    
}

.Main_course {  
    margin-bottom: 1.5rem;
    width: 600px;
    border: 1px solid #232526;
    
}
._content{
    margin-top:10px;
    border: 1px solid black;
}
.Dessert {
   
    margin-bottom: 1.5rem;
    width: 600px;
    border: 1px solid #232526;  
}

.img_container {
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    
}

