.Starters {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.Main_course {
    margin-bottom: 2.5rem;
}

.Dessert {
    margin-bottom: 2.5rem;
}

.img_container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-image: url(./test2.jpg);
}
