.navbar_link {
  text-decoration: none;
  text-align: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgb(6, 145, 163);
  cursor: pointer;
}


.n1{
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:black !important;
  height: 10vh;
  border-bottom: 1px solid #313130;
  position: relative;
  
}
.n{
  right:0;  
  display: flex;
  justify-content: center;
}
.n2{
  color:rgb(36, 18, 7) !important;
  /* font-family: "Chalkduster" */
  font-weight: bold;
  font-style: italic;
  font-family: 'Gloria', cursive;
}
.n2:hover{
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
._logo{
  margin: 10px;
  filter:none;
  transform: scale(0.45);
  position: relative;
  left:0;
}
._navIcon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}
._navIcons:hover{
transform: scale(1.1);
transform: color(black);
}

