.navbar_link {
  text-decoration: none;
  text-align: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgb(6, 145, 163);
  cursor: pointer;
}


.n1{
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:black !important;
  height: 10vh;
  border-bottom: 1px solid #313130;
  position: relative;
  
}
.n{
  right:0;
  display: flex;
  justify-content: center;
}
.n2{
  color:rgb(255, 128, 55) !important;
  /* font-family: "Chalkduster" */
  font-family: 'Kaushan Script', cursive;
}
.n2:hover{
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
._logo{
  margin: 10px;
  filter:none;
  transform: scale(0.45);
  position: relative;
  left:0;
}