.master_container {
    min-height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row {
    margin-top: 0.8rem;
    width: 90%;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -4vh;
}

.welcome_admin {
    font-family: "Allura", cursive;
    font-size: 64px;
    color: #d0c194;
    margin-bottom: -10px;
    position: relative;
    top: 1vh;
}

.order_header {
    color: #162d3d;
    font-weight: 300 !important;
    font-size: 49px;
    font-family: "Roboto", sans-serif;
}

.row_top {
    text-align: center;
}

.col1,
.col2,
.col3,
.col4 {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /*font-weight: 600;*/
    transition: all 0.5s linear;
    color: white !important;
    margin: 0 2rem;
    margin-top: 0.5rem;
    box-shadow: 0 11px 40px -11px rgba(0, 0, 0, 0.2);
    height: 220px !important;
    width: 220px !important;
    max-height: 220px !important;
    max-width: 220px !important;
    min-height: 220px !important;
    min-width: 220px !important;
    border-radius: 50%;
}

.atag {
    color: white !important;
    text-decoration: none;
}
.atag:hover {
    text-decoration: none !important;
}

.col1 {
    margin-left: 0;
    background-image: url(../images/services1.jpg);
    background-size: cover;
    height: min(381px, 71vw);
    text-align: center;
}

.col1:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../images/services1.jpg);
}

.col2 {
    background-image: url(../images/services2.jpg);
    background-size: cover;
    height: min(381px, 71vw);
    text-align: center;
}

.col2:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../images/services2.jpg);
}

.col3 {
    background-image: url(../images/services3.jpg);
    background-size: cover;
    height: min(381px, 71vw);
    text-align: center;
}

.col3:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../images/services3.jpg);
}

.col4 {
    margin-right: 0;
    background-image: url(../images/services4.jpg);
    background-size: cover;
    height: min(381px, 71vw);
    text-align: center;
}

.col4::after {
    position: absolute;
    top: 0;
    left: 0;
    widows: 100%;
    height: 100%;
    background-color: magenta;
}

.col4:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../images/services4.jpg);
}

.col1:hover,
.col2:hover,
.col3:hover,
.col4:hover {
    transform: translateY(-2px);
    box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.15) !important;
}

@media (max-width: 1240px) {
    .row {
        width: 100%;
    }
}

@media (max-width: 1121px) {
    .col4 {
        display: none;
    }
}

@media (max-width: 1080px) {
    .row {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .col1,
    .col2,
    .col3,
    .col4 {
        margin: 0 1rem;
    }
}

@media (max-width: 800px) {
    .master_container {
        padding: 0;
    }
}

@media (max-width: 752px) {
    .col1,
    .col2,
    .col3,
    .col4 {
        height: 48vw;
    }
}

@media (max-width: 587px) {
    .col3 {
        display: none;
    }
    .row {
        justify-content: space-around;
    }
    .col2 {
        margin-top: 2rem;
    }
}

@media (max-width: 575px) {
    .col1,
    .col2,
    .col3,
    .col4 {
        min-width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1.5rem;
    }
    .col4 {
        margin-bottom: 4rem;
    }
    .col1 {
        margin-top: 2rem;
    }
}

@media (max-width: 482px) {
    .col2 {
        display: none;
    }
    .master_container {
        min-height: 76vh;
    }
    .row {
        top: -9vh;
    }
}
