.App {
	margin-top: 13vh;
}

.img_col {
	background-image: url("../images/food3.jpg");
	background-size: cover;
}

.spinner {
	width: 1.5rem;
	height: 1.5rem;
}

.scroller {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 567;
}

.list_group_item {
	display: flex;
	align-items: center;
	border: 0;
	padding-top: 0;
	position: relative;
	margin-bottom: 0.5rem;
	/*left: -0.5rem;*/
}

.no_user_cont {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 65vh;
	margin-bottom: 5rem;
}

.payment_card {
	box-shadow: none;
}

.success_card {
	box-shadow: none;
	margin-left: 2rem;
	min-height: 60vh;
	background-color: transparent;
}

.total_price {
	padding: 0.5rem 1.5rem;
	font-family: "Roboto", sans-serif;
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 1rem;
	color: rgba(0, 0, 0, 0.5);
}

.list_item {
	display: block;
	font-weight: 400;
	/*align-items: center;*/
}

.payment_cont,
.success_cont {
	min-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.success_cont {
	position: relative;
	justify-content: flex-start;
}

.svg_img {
	position: absolute;
	transform: scale(0.6);
	right: 0;
	opacity: 0;
	/*right: 25vw;*/
	/*top: 10vh;*/
}

.link_item1 {
	animation-name: blink;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

@keyframes blink {
	0% {
		color: #757575;
	}
	50% {
		color: #00bfa6;
	}
	100% {
		color: #757575;
	}
}

.payment_row {
	min-height: 80%;
	width: 795px;
	box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.3);
}

.dark {
	background-color: rgba(0, 0, 0, 0.75);
	color: white !important;
}

.dark_link {
	color: white !important;
}
.dark_link:hover {
	border-top: 2px solid rgba(255, 255, 255);
	border-bottom: 2px solid rgba(255, 255, 255);
	color: rgba(255, 255, 255, 0.8) !important;
}

.svg_img2 {
	position: absolute;
	transform: scale(0.6);
	right: -10vh;
	/*right: 25vw;*/
	/*top: 10vh;*/
}

.no_user_row {
	margin-left: 4rem;
}

@media (max-width: 1227px) {
	.no_user_row {
		margin-left: 1rem;
	}
}

@media (max-width: 1150px) {
	.svg_img2 {
		right: -18vh;
	}
	.svg_img {
		right: -11vh;
	}
}
@media (max-width: 1097px) {
	.svg_img2 {
		right: -24vh;
	}
}

@media (max-width: 1027px) {
	.no_user_row {
		margin-left: 0px;
	}
}
@media (max-width: 1000px) {
	.svg_img {
		right: -17vh;
	}
}
@media (max-width: 987px) {
	.svg_img2 {
		transform: scale(0.5);
		right: -29vh;
	}
}

@media (max-width: 931px) {
	.success_card {
		margin-left: unset;
	}
}

@media (max-width: 888px) {
	.svg_img {
		transform: scale(0.5);
		right: -23vh;
	}
	.svg_img2 {
		transform: scale(0.45);
		right: -33vh;
	}
}

@media (max-width: 818px) {
	.svg_img2 {
		top: -17vh;
	}
	.no_user_cont {
		align-items: flex-end;
	}
}

@media (max-width: 856px) {
	.img_col {
		display: none;
	}
	.payment_row {
		width: 331px;
	}
}

@media (max-width: 777px) {
	.success_card {
		width: 328px;
	}
}

@media (max-width: 659px) {
	.svg_img {
		transform: scale(0.4);
		right: -30vh;
	}
}

@media (max-width: 645px) {
	.svg_img2 {
		transform: scale(0.4);
		right: -36vh;
	}
}

@media (max-width: 549px) {
	.no_user_cont {
		min-height: 61vh;
	}
	.svg_img2 {
		transform: scale(0.34);
		right: -41vh;
		top: -21vh;
	}
}

@media (max-width: 542px) {
	.svg_img {
		transform: scale(0.34);
		right: -33vh;
		top: -5vh;
	}
}

@media (max-width: 484px) {
	.svg_img {
		transform: scale(0.289);
		right: -38vh;
		top: -7vh;
	}
	.success_card {
		width: 236px;
	}
}

@media (max-width: 429px) {
	.svg_img {
		transform: scale(0.24);
		right: -40vh;
		top: -8vh;
	}
	.success_card {
		width: 236px;
	}
	.success_body {
		padding-right: 0;
		padding-left: 0;
	}
}

@media (max-width: 401px) {
	.svg_img2 {
		transform: scale(0.3);
		right: -45vh;
		top: -24vh;
	}
	.no_user_cont {
		min-height: 55vh;
	}
}

@media (max-width: 400px) {
	.payment_row {
		width: 287px;
	}
}

@media (max-width: 390px) {
	.svg_img {
		right: -43vh;
		transform: scale(0.2);
	}
}

@media (max-height: 684px) {
	.svg_img {
		right: -47vh;
	}
}

@media (max-height: 615px) {
	.svg_img {
		right: -53vh;
	}
}

@media (max-height: 591px) {
	.svg_img {
		top: -19vh;
		right: -56vh;
	}
}

@media (max-height: 530px) {
	.svg_img {
		top: -26vh;
		right: -62vh;
	}
}

@media (max-height: 466px) {
	.svg_img {
		top: -32vh;
		right: -71vh;
	}
}

@media (max-height: 410px) {
	.svg_img {
		top: -37vh;
		right: -81vh;
	}
}

@media (max-height: 366px) {
	.svg_img {
		top: -41vh;
		right: -90vh;
	}
}

@media (max-height: 325px) {
	.svg_img {
		display: none;
	}
}

@media (max-height: 720px) {
	.no_user_cont {
		min-height: 62vh;
	}
}

@media (max-height: 676px) {
	.svg_img2 {
		right: -49vh;
		top: -28vh;
	}
}

@media (max-height: 655px) {
	.no_user_cont {
		min-height: 68vh;
	}
}

@media (max-height: 613px) {
	.svg_img2 {
		transform: scale(0.25);
		right: -56vh;
		top: -35vh;
	}
}

@media (max-height: 558px) {
	.svg_img2 {
		right: -63vh;
		top: -40vh;
	}
}

@media (max-height: 527px) {
	.svg_img2 {
		right: -66vh;
		top: -44vh;
	}
}

@media (max-height: 508px) {
	.no_user_cont {
		min-height: 71vh;
	}
	.svg_img2 {
		transform: scale(0.23);
		right: -73vh;
		top: -45vh;
	}
}

@media (max-height: 480px) {
	.svg_img2 {
		right: -75vh;
		top: -51vh;
	}
}

@media (max-height: 461px) {
	.no_user_cont {
		min-height: 79vh;
	}
}

@media (max-height: 440px) {
	.svg_img2 {
		right: -82vh;
		top: -56vh;
	}
}

@media (max-height: 422px) {
	.svg_img2 {
		display: none;
	}
	.no_user_cont {
		justify-content: center;
		align-items: center;
	}
}
